<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Groups</h1>

  <div class="row">
    <div class="col-md-12">
      <%= form_for(@group) do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id%>
        <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
        </div>
        <div class="actions">
        <%= f.submit %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
 <table class="table">
         <% @groups.each do |group| %>
         <tr>
            <td> <%= group.name %> </td>
            <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td><%= link_to 'view', group %></td>
         </tr>
       <% end %>
      </table>  
</div>
  </div>
      
       
</div>
