
	<body>
		<h1>Home Page</h1>
		<p><%= link_to "Log out", destroy_user_session_path, method: :delete %></p>
	<div class="container">	
		<table class="table" >
			<tr>
				<b> Latest Orders </b>
			</tr>	
			<%  @orders.each do |order| %>
			<tr class="success">
				<td> <%= order.order_for %> </td>
				<td> <%= order.created_at %> </td>
			</tr>	
		</table>	
		<% end %>	

		<table class="table" >
			<tr>
				<b>Latest Orders</b>
			</tr>	
			<%  @orders.each do |order| %>
			<tr class="success">
				<td> <%= order.order_for %> </td>
				<td> <%= order.created_at %> </td>
			</tr>	
		</table>	
		<% end %>	

	</div>	
	</body>	

