<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>

<table>
  <thead>
    <tr>
      <th>Order for</th>
      <th>Status</th>
      <th>Resturant</th>
      <th colspan="3">Action</th>
      <th>Menu image</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.order_for %></td>
        <td><%= order.status %></td>
        <td><%= order.resturant %></td>
        <td><%= link_to 'view', order %> <%= link_to 'Finish', order %> <%= link_to 'Cancel', order %></td>
        <td><%= order.menu_image %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
