<p id="notice"><%= notice %></p>

<!-- <p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p> -->

<p>
  <strong>Order for:</strong>
  <%= @order.order_for %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Resturant:</strong>
  <%= @order.resturant %>
</p>

<p>
  <strong>Menu image:</strong>
  <%= @order.menu_image %>
</p>

<!--<%= image_tag @order.avatar.url %>-->
<!--<%= image_tag @order.avatar.url(:medium) %>-->
<%= image_tag @order.avatar.url(:thumb) %>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
